@import "tailwindcss";

@theme {
  --font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --animate-fade-in: fade-in 0.5s ease-in-out;
  --animate-pulse: pulse 3s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }

  50% {
    opacity: 0.7;
  }
}

.animate-fade-in {
  animation: fade-in 0.5s ease-in-out;
}

.animate-pulse {
  animation: pulse 3s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.delay-1000 {
  animation-delay: 1s;
}

html,
/* body {
  @apply bg-white dark: bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
} */

#root {
  margin: 0 auto;
  text-align: center;
}